<div>
	
<div class="jumbotron">
<h2 class="title">Categorias e seus Descontos</h2>
<table class="table">
    <tr>
        <th><a>Nome da Categoria</a></th>
        <th><a>Desconto atual da Categoria</a></th>
        <th><a>Novo Desconto</a></th>
          <th><a>Ação</a></th>

    </tr>

    <tr ng-repeat="i in categorias">
        <td>{{i.nomeDaCategoria}}</td>
        <td>{{i.desconto}}%</td>
        <td>
		    <select name="singleSelect" ng-model="data.singleSelect">
		      <option value="0">0%</option>
		      <option value="10">10%</option>
		      <option value="25">25%</option>
		      <option value="50">50%</option>
		    </select>
        </td>
        <td><button ng-click="atualizarDesconto(i, data.singleSelect)">Alterar desconto</button></td>
    </tr>
</table>

{{descontoAtual}}
</div>


</div>