<div class="container-fluid">

    <div class="row">
        <div class="col-xs-11 col-md-10 col-lg-9">
            <h3>Registro de descontos</h3>
        </div>
        <div class="col-xs-1 col-md-1 col-lg-1 v-align">
            <button class="btn btn-success row" ng-click="openNewDiscountView()">Novo desconto</button>
        </div>
    </div>

    <table class="table table-striped row">
        <tr>
            <th class="text-center">Desconto</th>
            <th class="text-center">Tipo de Desconto</th>
            <th class="text-center">Excluir Desconto</th>
        </tr>
        <tr ng-repeat="disc in discounts">
            <td class="text-center">{{disc.categoria}}</td>
            <td class="text-center">{{disc.tipo}}</td>
            <td class="text-center"><button ng-click="deleteDiscount(disc)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
        </tr>
    </table>











</div>