<div>

        <div class="jumbotron col-md-8 col-md-offset-2">
            
            <h3>Faça aqui seu Login</h3>
            <form name="loginForm"></form>
                <input type="text" ng-model="user.login" ng-required="true" placeholder="Login" class="form-control"/>
                <input type="password" ng-model="user.password" ng-required="true" placeholder="Password" class="form-control"/>
            
            <div class="buttons">
                <button class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid" ng-click="loginUser(user)">Login</button>
            </div>
    
            Ainda não tem uma conta? Registre-se <a ng-click="openSignUpDialog()">aqui</a>.
    
            <br/>
              <br/>
                <br/>
                  <br/>
<button ng-click="listProducts()" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#produtosmodal">
  Consultar produtos disponíveis no sistema
</button>             

        
        </div>
    





<!-- Modal -->
<div class="modal fade" id="produtosmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">→ Produtos disponíveis no sistema</h2>

      </div>
      <div class="modal-body">
            

        <div class="container-fluid">

    <table class="table table-striped">
        <tr>
            <th ><a>Nome</a></th>
            <th ><a>Preço</a></th>
        </tr>
    
        <tr ng-repeat="i in products">
            <td class="text-center">{{i.productName}}</td>
            <td class="text-center">{{i.price}}</td>


        </tr>
    </table>
</div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


        </div>
    
    </div>  