<div class="modal-header">
        <h3 class="modal-title" id="modal-title">Criar Novo Desconto</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="createDiscountForm">
            <div>
                <label>Categoria:</label>
                <select ng-model="category" ng-required="true" ng-options="cat.categoryName for cat in categories" class="form-control">
                    <option value="">Selecione uma categoria</option>
                </select>
            </div>
            <div>
                <label>Desconto:</label>
                <select ng-model="discount" ng-required="true" ng-options="disc.message for disc in discounts" class="form-control">
                    <option value="">Selecione um tipo de desconto</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" 
            ng-disabled="createDiscountForm.$invalid"
            ng-click="createDiscount(category,discount)"> Salvar </button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancelar</button>
    </div>